// Clearfix
html { box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.cf:before, .container:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

/* IE 6/7 */
.cf {
  zoom: 1; }

// Johnston100
@font-face{
    font-family:"Johnston100W03-Hairline";
    src:url("../fonts/Johnston100W03-Hairline.eot?#iefix");
    src:url("../fonts/Johnston100W03-Hairline.eot?#iefix") format("eot"),url("../fonts/Johnston100W03-Hairline.woff2") format("woff2"),url("../fonts/Johnston100W03-Hairline.woff") format("woff"),url("../fonts/Johnston100W03-Hairline.ttf") format("truetype"),url("../fonts/Johnston100W03-Hairline.svg#4c655e41-9ccc-4463-b531-4b6ea7c26a4f") format("svg");
}
@font-face{
    font-family:"Johnston100W03-Medium";
    src:url("../fonts/Johnston100W03-Medium.eot?#iefix");
    src:url("../fonts/Johnston100W03-Medium.eot?#iefix") format("eot"),url("../fonts/Johnston100W03-Medium.woff2") format("woff2"),url("../fonts/Johnston100W03-Medium.woff") format("woff"),url("../fonts/Johnston100W03-Medium.ttf") format("truetype"),url("../fonts/Johnston100W03-Medium.svg#f2c7a047-47a8-4198-bc26-e121630c6582") format("svg");
}
@font-face{
    font-family:"Johnston100W03-Thin";
    src:url("../fonts/Johnston100W03-Thin.eot?#iefix");
    src:url("../fonts/Johnston100W03-Thin.eot?#iefix") format("eot"),url("../fonts/Johnston100W03-Thin.woff2") format("woff2"),url("../fonts/Johnston100W03-Thin.woff") format("woff"),url("../fonts/Johnston100W03-Thin.ttf") format("truetype"),url("../fonts/Johnston100W03-Thin.svg#97f5a5f4-a86e-4574-92a7-be90680c7f78") format("svg");
}
@font-face{
    font-family:"Johnston100W03-Light";
    src:url("../fonts/Johnston100W03-Light.eot?#iefix");
    src:url("../fonts/Johnston100W03-Light.eot?#iefix") format("eot"),url("../fonts/Johnston100W03-Light.woff2") format("woff2"),url("../fonts/Johnston100W03-Light.woff") format("woff"),url("../fonts/Johnston100W03-Light.ttf") format("truetype"),url("../fonts/Johnston100W03-Light.svg#453553e8-40f5-4385-88dd-e161c39f67a6") format("svg");
}
@font-face{
    font-family:"Johnston100W03-Regular";
    src:url("../fonts/Johnston100W03-Regular.eot?#iefix");
    src:url("../fonts/Johnston100W03-Regular.eot?#iefix") format("eot"),url("../fonts/Johnston100W03-Regular.woff2") format("woff2"),url("../fonts/Johnston100W03-Regular.woff") format("woff"),url("../fonts/Johnston100W03-Regular.ttf") format("truetype"),url("../fonts/Johnston100W03-Regular.svg#d9380b87-961e-4bec-ae2c-09e17c56a3f6") format("svg");
}

.H {
    font-family: 'Johnston100W03-Hairline';
}
.L {
    font-family: 'Johnston100W03-Light';
}
.T {
    font-family: 'Johnston100W03-Thin';
}
.R {
    font-family: 'Johnston100W03-Regular';
}
.M {
    font-family: 'Johnston100W03-Medium';
}

// Variables
$tflBlue: #353A8C;
$accentColor: #4DC1C4;
$primaryTxt: #0f0f0f;
$secondaryTxt: #747474;
$disableTxt: #A4A4A4;
$txtRootSize: 16px;
$lineHeight: auto;

:root {
    font-size: $txtRootSize;
    overflow-x: hidden;
}

body {
    position: relative;
    margin: 100px 0;
    vertical-align: baseline;
}

main {
    max-width: 960px;
    font-family: 'Johnston100W03-Light';
    color: $primaryTxt;
    margin-right: auto;
    margin-left: auto;
}

h1, h2,
h3, h4,
p {
    font-weight: normal;
    margin: 0 0 1.25rem 0;
    line-height: $lineHeight;
}

blockquote {
    font-size: 3.5rem;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
p {
    font-size: 1rem;
}

a,
a:link,
a:visited {
    color: $accentColor;
    text-decoration: none;
}
a:hover,
a:active {
 text-decoration: underline;
}

// Nav
nav {
    width: 100%;
    background: white;
    border: none;
    border-top: 1px solid $disableTxt;
    position: fixed;
    bottom: 0;

    ul {
        list-style: none;
        padding: 10px;

        li {
            display:inline-block;
            padding: 0 10px;

            a,
            a:link,
            a:visited {
                color: $primaryTxt;
                text-decoration: none;
            }

            a:hover,
            a:active {
             text-decoration: underline;
            }
        }
    }
}

//Main
section {
    padding: 0 10%;
}

ul{
    margin: 0;
    padding: 0 0 1.25rem 0;

    .list {
        border: none;
        border-bottom: 1px solid $disableTxt;
        list-style: none;
        padding: 1rem;
    }
    li:last-child {
        border: none;
    }
}

.img {
    background: $disableTxt;
    height: 12rem;
    margin: 0 0 1rem 0;
    width: 100%;
}
// Button
#button {
    width: 100%;
    justify-content: center;
    border: 2px solid $accentColor!important;
    background: $accentColor !important;
    border-radius: 2px !important;
    color: white !important;
    display: inline-block !important;
    outline: none !important;
    padding: 10px 40px !important;
    text-align: center !important;
    text-decoration: none !important;
    transition-duration: 0.3s !important;
}

#button:hover {
    border: 2px solid $accentColor!important;
    background: white !important;
    border-radius: 2px !important;
    color: $accentColor !important;
}

// Form
p label {
    color: $secondaryTxt;
    display: block;
    font: 1em "Johnston100-Thin", sans-serif;
}

p input, #show input {
    border: none;
    border-bottom: 1px solid $secondaryTxt;
    height: 44px;
    width: 100%;
    transition: border 0.3s;
}

input:focus,
input.focus,
#show input:focus,
#show input.focus {
    border-bottom: solid 1px $accentColor;
    outline: none;
}

#show {
    top: -1rem;
    position: relative;
    display: inline-block;
}

#show p {
    @extend p;
    position: absolute;
    right: 0;
    top: 0;
}


.comparison {
    padding: 1rem 0;
}

.img  {
  width: 100%;
  padding-bottom: 50%;
  background: $disableTxt;
  // background: url(../img/img-lg.jpeg);

}
