html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.cf:before, .container:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

/* IE 6/7 */
.cf {
  zoom: 1; }

@font-face {
  font-family: 'NJFont-Light';
  src: url("../font/NJFont-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'NJFont-Book';
  src: url("../font/NJFont-Book.ttf") format("truetype"); }
@font-face {
  font-family: 'NJFont-BookBold';
  src: url("../font/NJFont-BookBold.ttf") format("truetype"); }
@font-face {
  font-family: 'NJFont-Medium';
  src: url("../font/NJFont-Medium.ttf") format("truetype"); }
@font-face {
  font-family: 'NJFont-Bold';
  src: url("../font/NJFont-Bold.ttf") format("truetype"); }
.nLight {
  font-family: 'NJFont-Light'; }

.nBook {
  font-family: 'NJFont-Book'; }

.nBookBold {
  font-family: 'NJFont-BookBold'; }

.nMedium {
  font-family: 'NJFont-Medium'; }

.nBold {
  font-family: 'NJFont-Bold'; }

@font-face {
  font-family: 'Johnston100-Hairline';
  src: url("../font/Johnston100-Hairline.otf") format("opentype"); }
@font-face {
  font-family: 'Johnston100-Thin';
  src: url("../font/Johnston100-Thin.otf") format("opentype"); }
@font-face {
  font-family: 'Johnston100-Light';
  src: url("../font/Johnston100-Light.otf") format("opentype"); }
@font-face {
  font-family: 'Johnston100-Regular';
  src: url("../font/Johnston100-Regular.otf") format("opentype"); }
@font-face {
  font-family: 'Johnston100-Medium';
  src: url("../font/Johnston100-Medium.otf") format("opentype"); }
.jHairline {
  font-family: 'Johnston100-Hairline'; }

.jLight {
  font-family: 'Johnston100-Light'; }

.jThin {
  font-family: 'Johnston100-Thin'; }

.jRegular {
  font-family: 'Johnston100-Regular'; }

.jMedium {
  font-family: 'Johnston100-Medium'; }

:root {
  font-size: 16px;
  overflow-x: hidden; }

body {
  position: relative;
  margin-top: 80px; }

main {
  font-family: 'Johnston100-Light';
  color: #0f0f0f; }

h1, h2,
h3, h4,
p, button,
ul li,
ol li {
  margin: 0 0 1rem 0;
  line-height: auto; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

p {
  font-size: 1rem; }

a:link,
a:visited,
a:hover,
a:active {
  color: #0f0f0f;
  text-decoration: none; }

nav {
  width: 100%;
  background: white;
  border: none;
  border-bottom: 1px solid #A4A4A4;
  position: fixed;
  top: 0; }
  nav ul {
    padding: 20px 10px;
    text-align: center; }
    nav ul li {
      display: inline;
      padding: 0 10px; }

section {
  padding: 10%; }

ul {
  margin: 0;
  padding: 0; }
  ul .list {
    border: none;
    border-bottom: 1px solid #A4A4A4;
    list-style: none;
    padding: 20px; }

.img {
  background: #A4A4A4;
  height: 12rem;
  margin: 0 0 1rem 0;
  width: 100%; }
