html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.cf:before, .container:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

/* IE 6/7 */
.cf {
  zoom: 1; }

@font-face {
  font-family: 'Johnston100-Hairline';
  src: url("font/Johnston100-Hairline.otf") format("opentype"); }
@font-face {
  font-family: 'Johnston100-Thin';
  src: url("font/Johnston100-Thin.otf") format("opentype"); }
@font-face {
  font-family: 'Johnston100-Regular';
  src: url("font/Johnston100-Regular.otf") format("opentype"); }
@font-face {
  font-family: 'Johnston100-Medium';
  src: url("font/Johnston100-Medium.otf") format("opentype"); }
:root {
  font-size: 14px;
  overflow-x: hidden;
  color: #0f0f0f; }

h1 {
  font: 1.28rem/1.42rem "Johnston100-Medium", sans-serif; }

.hairline {
  font: 1.28rem/1.42rem "Johnston100-Hairline", sans-serif; }

h2, legend {
  font: 1.14rem/1.42rem "Johnston100-Medium", sans-serif; }

p, .support, #show p, label {
  font: 1rem/1.42rem "Johnston100-Regular", sans-serif; }

.support {
  font-family: Johnston100-Thin;
  color: #747474; }

a,
a:active,
a:hover,
a:link,
a:visited {
  color: #0f0f0f;
  text-decoration: none; }

section, .sec01, .sec02, .sec03, .sec04 {
  padding: 10% 5%; }

.sec01 {
  background-color: white; }

.sec02 {
  background-color: lightgreen; }

.sec03 {
  background-color: white; }

.sec04 {
  background-color: #f3f3f3; }

article, form {
  padding: 2% !important; }

.card {
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  width: auto; }
  .card .img {
    background-color: lightgrey;
    width: 100%;
    height: 200px; }
  .card h1, .card h2, .card p, .card .support, .card #show p, #show .card p {
    padding: 0 1em; }

#button {
  border: 2px solid #4DC1C4 !important;
  background: #4DC1C4 !important;
  border-radius: 2px !important;
  color: white !important;
  display: inline-block !important;
  font: Normal 1em "Johnston100-Regular", sans-serif !important;
  margin-bottom: 3em !important;
  outline: none !important;
  padding: 10px 20px !important;
  text-align: center !important;
  text-decoration: none !important;
  transition-duration: 0.3s !important; }

#button:hover {
  border: 2px solid #4DC1C4 !important;
  background: white !important;
  border-radius: 2px !important;
  color: #4DC1C4 !important; }

p label, .support label, #show p label {
  color: #747474;
  display: block;
  font: 1em "Johnston100-Thin", sans-serif; }

p input, .support input, #show p input, #show input {
  border: none;
  border-bottom: 1px solid #747474;
  height: 44px;
  width: 100%;
  transition: border 0.3s; }

input:focus,
input.focus,
#show input:focus,
#show input.focus {
  border-bottom: solid 1px #4DC1C4;
  outline: none; }

#show {
  top: -1rem;
  position: relative;
  display: inline-block; }

#show .support, #show p {
  position: absolute;
  right: 0;
  top: 0; }

nav {
  margin: 0;
  padding: 0; }

#navBar {
  background: #353A8C;
  color: white;
  display: flex;
  justify-content: center;
  width: 100%; }
  #navBar div {
    padding: 10px; }
    #navBar div a,
    #navBar div a:active,
    #navBar div a:visited,
    #navBar div a:link {
      color: inherit;
      transition: .3s; }
    #navBar div a:hover {
      color: inherit;
      opacity: .6; }
